@import url("https://fonts.googleapis.com/css2?family=Bricolage+Grotesque:wght@400;500;600&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Bricolage Grotesque", sans-serif;
}

body,
html {
  height: 100dvh;
  width: 100dvw;
  overflow: hidden;
}

#root {
  width: 100%;
  height: 100%;
}

/* Page flip library */
.stf__parent {
  overflow: visible !important;
}